header {
  margin: 0;
  padding: 0;
  color: #3e5211;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: 100%;
  border-bottom: 4px solid var(--accent);
}

#content {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #buttons {
  position: absolute;
} */

button {
  height: fit-content;
  font-size: medium;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  font-size: medium;
  color: #3e5211;
}
