.Stitchbar {
  /* background-color: #40827d; */
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 5px solid var(--color1);
}

Button {
  background-color: white;
  border-radius: 10px;
}

.creation-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: large;
}

.creation-buttons Button {
  height: 40px;
  width: 120px;
  margin: 5px;
}

.stitch-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.stitch-buttons Button {
  height: 80px;
  width: 80px;
  margin: 5px;
}

.selection {
  background-color: var(--background);
  border: 2px solid var(--accent);
  display: flex;
  flex-direction: row;
  height: 65px;
  width: 97%;
  align-items: center;
  margin-bottom: 5px;
}

.getting-sequence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
