:root {
  --color2: #6eb5c7;
  --color1: #1492a3;
  --accent: #163957;
  --background: #b7e9f3;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  margin: 0;
  height: 8vh;
}

main {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 99vh;
}

.Setup {
  background-color: var(--background);
  height: fit-content;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: 5px solid var(--color1);
}

.Stitchbar {
  background-color: var(--color2);
  flex: 1;
}

.Chart {
  flex: 4;
  display: flex;
}

.TextDisplay {
  flex: 1;
  max-width: 20vw; /* Adjust the width as needed */
  min-width: 20vw;
}

.getStartingSts {
  display: flex;
  height: 50vh;
  width: auto;
  padding: 20px;
}

.input-group {
  display: flex;
  flex-flow: wrap;
}

.input-group input {
  flex: 1;
  max-width: 100px;
}

.input-group button {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  main {
    flex-direction: column; /* Stack components vertically */
    height: auto; /* Allow content to expand */
  }

  .Setup {
    width: 90%; /* Take up most of the screen width */
    height: auto; /* Adjust height for mobile */
    margin: 10px auto; /* Center the Setup section */
    padding: 10px;
  }

  .Chart {
    height: auto; /* Adjust height for mobile */
    margin: 10px 0; /* Add spacing above and below Chart */
    border: 10px solid orange;
  }

  .TextDisplay {
    height: auto; /* Adjust height for mobile */
    margin-top: 10px; /* Add spacing above TextDisplay */
  }
}
